<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="boxstyle.css">
    <script defer src ="boxscript.js"></script>
    <title>Lightbox</title>
</head>
<body>
    <div class="grid">
        <img src="https://source.unsplash.com/400x400?airplane">
        <img src="https://source.unsplash.com/400x400?helicopter">
        <img src="https://source.unsplash.com/400x400?hotairballoon">
        <img src="https://source.unsplash.com/400x400?airbus">
        <img src="https://source.unsplash.com/400x400?blimp">
        <img src="https://source.unsplash.com/400x400?glider">
        <img src="https://source.unsplash.com/400x400?parachute">
        <img src="https://source.unsplash.com/400x400?rocket">
        <img src="https://source.unsplash.com/400x400?boeing737">
        

    </div>

</body>
</html>